body{
	background-image: url("../images/nyt.png")
	/* background-attachment: auto;
	padding-top:70px;
	color: white;
} */
}

.jumbotron{
	background-color: transparent; 
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
	display: inline-block;
	width: 90%;
}

#scrape {
	margin: 8px 0px;
}

h1{
	text-shadow: -1px -1px 0 rgb(44, 43, 43), 1px -1px 0 rgb(71, 71, 73), -1px 1px 0 rgb(245, 241, 241), 1px 1px 0 rgb(248, 244, 244);
}

.heading{
	color: rgb(185, 181, 181);
}
